Doctype
html
  head
    title Ankur Dance Academy 
    link(rel="icon" type="image" href="/static/img/dance-02.webp")
    block scripts
    block style
     body
        nav#navbar
        ul
        div#logo
        img(src="/static/img/logo.jpg")
        | HDA
        li #[a(href="/") Home ]
        li #[a(href="/") About]
        li #[a(href="/") Services ]
        li #[a(href="/") Class Info]
        li #[a(href="/contact") Contact us]
        block content
        block foot
        